<h1>Welcome to Angular!</h1>

<hr>

<div>
  <h1>Data Binding</h1>
  <h2>String Interpolation</h2>
  <p>Hello,my name is {{firstName}}</p>
  <br>
  <h2>Property Binding</h2>
  <button type="button" [disabled]="isUnchanged">Hello</button>
  <br>
  <img [src]="image" alt=""style="height:200px; width:250px">
  <br>
  <button (click)="onClick()">Data Binding</button>
  <br>
  <input [(ngModel)]="userOutput" type="text"><br>
  {{userOutput}}
</div>
<br>

<h3>Services and dependency injection</h3>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-first></app-first>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-second></app-second>
    </div>
  </div>
</div>
<app-directives-and-services></app-directives-and-services>
<br>
<app-parent></app-parent>
<br>
<p>The reverse of Angular Development is: {{'Angular Development' | reversePipe }} </p>
