.users {
    margin-top: 20px;
    .user {
      display: flex;
      align-items: center;
      border: 2px solid orange;
      margin: 20px;
      padding: 30px;
      width: 305px;
      float: left;
      .user-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 30px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .user-name {
        font-weight: bold;
        font-size: 22px;
      }
      .user-btn {
        margin-top: 30px;
        button {
          background-color: orangered;
          color: white;
          border: 0px;
          height: 35px;
          cursor: pointer;
        }
      }
    }
  }
  